.container {
    padding: 20px;
    text-align: center;
}

.recuadro {
    padding: 5px;
    display: flex;
    border: 2px solid #333; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.413);
}

.deportes {
    width: 30%;
    margin: 3px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
}